<h1>{{ C.name }}</h1>
<h2>Description</h2>
<p>{{ C.description }}</p>
<h1>Jobs</h1>
<ul>
{% for J in C.job_set.all %}
    <li>
        <a href="https://pranavjoshiiitgn.pythonanywhere.com/resup/job/{{ J.id }}"/>{{ J.position }}</a>
    </li>
{% endfor %}
</ul>
<h2>Delete Company</h2>
<form method=post action="https://pranavjoshiiitgn.pythonanywhere.com/resup/delete/">
{% csrf_token %}
<input type=hidden value=company name=type>
<input type=hidden value={{C.id}} name=id>
<input type=text name=password placeholder=password>
<input type=submit value=delete>
</form>