<h1>Resume Upgrader</h1>
<p>This is an application that suggests edits to your CV/resume to increase
the chances of getting selected for interviews by a specific compacy.</p>

<h2>Companies</h2>
<ul>
{% for C in Companies %}
<li><a href ="https://pranavjoshiiitgn.pythonanywhere.com/resup/company/{{ C.id }}/">{{ C.name }}</a></li>
{% endfor %}
</ul>
<h4><a href=https://pranavjoshiiitgn.pythonanywhere.com/resup/register_company/>Register</a></h4>
<br>
<h2>Jobs</h2>
<ul>
{% for J in Jobs %}
<li><a href ="https://pranavjoshiiitgn.pythonanywhere.com/resup/job/{{ J.id }}/">{{ J.position }} at {{ J.company.name }}</a></li>
{% endfor %}
</ul>
<h4><a href=https://pranavjoshiiitgn.pythonanywhere.com/resup/register_job/>Register</a></h4>
<br>
<h2>Students</h2>
<ul>
{% for S in Students %}
<li><a href ="https://pranavjoshiiitgn.pythonanywhere.com/resup/student/{{ S.id }}/0">{{ S.name }}</a></li>
{% endfor %}
</ul>
<h4><a href=https://pranavjoshiiitgn.pythonanywhere.com/resup/register_student/>Register</a></h4>
<h5>Contributors</h5>
Jaydev (email:jaydev@iitgn.ac.in)<br>
Pranav (email:pranav.joshi@iitgn.ac.in)