<h1>Register yourself as a Student</h1>
<form action="https://pranavjoshiiitgn.pythonanywhere.com/resup/success/" method="post">
{% csrf_token %}
<input type=hidden name=type value=student>
<input type="text" name="name" placeholder=name><br>
<input type="text" name="description" placeholder=description><br>
<input type=text name=skills placeholder=skills><br>
<input type=text name=stack placeholder=technologies><br>
<input type=text name=projects placeholder=projects><br>
<input type=number name=cpi placeholder=cpi><br>
<input type=text name=level placeholder=education><br>
<input type=text name=branch placeholder=branch><br>
<input type=text name=password placeholder=password><br>
<input type="submit" value="submit">
</form>