<h1>{{ S.name }} ({{ S.branch }})</h1>
id : {{ S.id }}
{% if show %}
    <h2>CPI : {{ S.cpi }} </h2>
    <h2>Skills</h2>
    {{ S.skills }}
    <h2>Technologies/Stack</h2>
    {{ S.stack }}
    <h2>Projects</h2>
    {{ S.projects }}
    <h2>Description</h2>
    {{ S.description }}
    <h2>Applications</h2>
    <ul>
    {% for A in S.application_set.all %}
    <li><a href="https://pranavjoshiiitgn.pythonanywhere.com/resup/application/{{ A.id }}/{{ S.password }}">
        {{ A.job.position }} at {{ A.job.company.name }}
    </a></li>
    {% endfor %}
    </ul>
    <h3> Delete Account ? </h3>
    <form method=post action="https://pranavjoshiiitgn.pythonanywhere.com/resup/delete/">
    {% csrf_token %}
    <input type=hidden value=student name=type>
    <input type=text name=password placeholder="enter password again">
    <input type=hidden value={{S.id}} name=id>
    <input type=submit value=delete>
    </form>
{% else %}
<h2>Login</h2>
<form action="https://pranavjoshiiitgn.pythonanywhere.com/resup/success/" method=post>
{% csrf_token %}
<input type=hidden name=type value=student_login>
<input type=hidden name=id value={{ S.id }}>
<input type=text name=password placeholder=password><br>
<input type=submit value="enter password to see more details">
</form>
{% endif %}
